.cart-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 16px;
    padding: 20px;
  }

  .item-container {
    margin-bottom: 20px;
  }

.item-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px;
  }
  
  
.cart-info {
    padding: 8px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    text-decoration: none;
}
  
.cart-card {
    padding: 32px;
    cursor: pointer;
    text-decoration: none;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
.inline-buttons {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}
  