.cart-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 16px;
    padding: 20px;
  }

.item-container {
    margin-bottom: 20px;
}

.item-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px;
  }
  
  
.cart-info {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    text-decoration: none;
}
  
.cart-card {
    padding: 32px;
    cursor: pointer;
    text-decoration: none;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
.inline-buttons {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}
  
.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-size: 24px;
    color: black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.empty-cart {
    margin-bottom: 20px;
}

.cart-image {
    width: 100%;
}
